<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.borrow.mapper.BorrowMapper">
    <select id="getBorrowByUid" resultType="com.commons.entity.Borrow">
        SELECT *
        FROM `db_borrow` dbow
        WHERE dbow.uid = #{userId};
    </select>
    <select id="getBorrowByBid" resultType="com.commons.entity.Borrow">
        SELECT *
        FROM `db_borrow` dbow
        WHERE dbow.bid = #{bookId};
    </select>
    <select id="getBorrow" resultType="com.commons.entity.Borrow">
        SELECT *
        FROM `db_borrow` dbow
        WHERE dbow.uid = #{userId}
          AND dbow.bid = #{bookId};
    </select>
</mapper>